@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;

}

.wrapper {
    height: 100vh;
    width: 100vw;

}

.container-left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 381px;


}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;


}

img {
    position: relative;
    top: 25%;
    right: 145px;
}


h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
    height: 160px;

}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: rgba(93, 93, 125, 0.6);
    margin-top: 15px;
    margin-bottom: 15px;
    width: 540px;
    height: 144px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    border: none;
    box-shadow: 0px 10px 24px rgba(80, 9, 9, 0.098);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;

}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .4;
}

.header-link {
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #0c0ceb;
    margin-right: 41px;
    cursor: pointer;
}

.header-link:nth-child(2) {
    opacity: 0.4;
}

.header-link:hover {
    opacity: .4;
}

.header-link:active {
    opacity: .2;
}

header {
    margin-top: 24px;
    margin-left: 57px;
}

@media screen and (max-width: 1000px) {

    .container-left {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }

    .container-right {
        display: block;
        width: 100%;
        height: auto;
        position: static;
        padding: 40px;

    }

    img {
        position: static;
        max-width: 90%;

    }


    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;

    }

    p {
        margin: 15px 40px;
        text-align: center;
        width: auto;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
        position: relative;
        bottom: 44px;

    }




}